body {
	font-family: 'Song Myung', serif;
	font-size: 18px;
}

main {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}

#list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	padding: 0;
}

#list li {
	display: block;
	margin-top: 10px;
	flex: 1 0 0;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #80cbc4;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(0,150,136, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: #80cbc4;
}
#cbx:checked + .toggle span {
  background: #009688;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

button {
	background-color: #009688;
	outline: 0;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	height: 36px;
	padding: 0 16px;
	margin: 0 20px;
	color: white;
}

#list span {
	margin: 0 10px;
}

#list span:hover {
	cursor: pointer;
	color: #009688;
	transition-duration: .3s;
}

.second-row {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

#sort {
	display: inline-block;
	margin: 0;
}

input[type="search"] {
	font-size: 18px;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

input[type="search"]:hover, 
input[type="search"]:focus{
	border-bottom: 1px solid #009688;
	transition-duration: .2s;
}


.tag {
	/*display: inline-block;*/
	padding: 20px;
	background-color: #373737;
	color: white;
	border-radius: 10%;
	cursor: pointer;
	margin: 8px 10px;
}

.active {
	background-color: #009688;
}

.row {
	margin: 0 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

@media only screen and (max-width: 850px) {
	.row {
		margin: 0 15%;
		justify-content: space-around;
		align-items: space-around;
	}
	.tag {

	}
}